<form onsubmit="return false;" novalidate="true" class="form-grid" autocomplete="off">
    <div class="input-container">
        <label for="bar_name">Name <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="text" 
            name="bar_name"
            id="bar_name"
            % if defined("bar"):
                value="{{bar['bar_name']}}"
            % end
            minlength="2" 
            maxlength="100"
            placeholder=" "
            required 
        >
        <span class="hint">Min. 2 and max. 100 characters.</span>
    </div>
    <div class="input-container">
        <label for="bar_street">Street <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="text" 
            name="bar_street"
            id="bar_street"
            % if defined("bar"):
                value="{{bar['bar_street']}}"
            % end
            pattern="^^[A-Za-zÆØÅæøå]{0,}[ ]{1}[1-9]{1}[0-9A-Za-z \\,\\.]{0,}$"
            minlength="2" 
            maxlength="100"
            placeholder=" "
            required 
        >
        <span class="hint">Street name and number.</span>
    </div>
    <div class="input-container">
        <label for="bar_zip_code">Zip code <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="number" 
            name="bar_zip_code"
            id="bar_zip_code"
            % if defined("bar"):
                value="{{bar['bar_zip_code']}}"
            % end
            min="1000"
            max="9990"
            step="1"
            placeholder=" "
            required
        >
        <span class="hint">Enter a valid Danish postalcode.</span>
    </div>
    <div class="input-container">
        <label for="bar_city">City <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="text" 
            name="bar_city"
            id="bar_city"
            % if defined("bar"):
                value="{{bar['bar_city']}}"
            % end
            pattern="^[A-Za-zÆØÅæøå]{0,}[\s]?[A-Za-zÆØÅæøå]{0,}"
            minlength="2" 
            maxlength="100"
            placeholder=" "
            required 
        >
        <span class="hint">Enter a Danish city.</span>
    </div>

    % if defined("screens_nr"):
        <div>
            <h2 class="text-lg">Moniter menus</h2>
            <ul>
            % count = 1
            % while count <= screens_nr:
                <li>
                    <a class="hover:underline" target="_blank" href="/menu/{{bar['bar_id']}}/screen/{{count}}">Monitor {{count}}</a>
                </li>
                % count += 1
            % end
            </ul>
        </div>
    % end

    <div class="form-action-bar">
        % if defined("bar"):
            <input type="text" name="bar_id" value="{{bar['bar_id']}}" hidden>
            <div class="btn-container">
                <button class="btn-primary" onclick="validateForm( updateItem )" data-path="bars">Udpate bar</button>
                <button class="btn-secondary" onclick="toggleActionBarSubMenu()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="action-bar-sub-menu hidden">
                    <button class="px-4 text-sm transition-colors text-secondary hover:text-primary" onclick="toggleDeleteModal()">
                        <i class="fa-solid fa-trash-can mr-2"></i>
                        Delete bar
                    </button>
                    <div class="caret"></div>
                </div>
            </div>
        % else:
            <button class="btn-primary" onclick="validateForm(postItem)" data-path="bars">Create bar</button>
        % end
    </div>
</form>
