<form onsubmit="return false;" novalidate="true" class="form-grid">
    <div class="input-container">
        <label for="bar-name">Name</label>
        <input 
            type="text" 
            name="bar_name"
            id="bar-name"
            % if defined("bar"):
                value="{{bar['bar_name']}}"
            % end
            minlength="2" 
            maxlength="50"
            placeholder=" "
            required 
        >
        <span class="hint">Min. 2 and max. 50 characters.</span>
    </div>
    <div class="input-container">
        <label for="bar-street">Street</label>
        <input 
            type="text" 
            name="bar_street"
            id="bar-street"
            % if defined("bar"):
                value="{{bar['bar_street']}}"
            % end
            minlength="2" 
            maxlength="50"
            placeholder=" "
            required 
        >
        <span class="hint">Street name and number.</span>
    </div>
    <div class="input-container">
        <label for="bar-zip-code">Zip code</label>
        <input 
            type="number" 
            name="bar_zip_code"
            id="bar-zip-code"
            % if defined("bar"):
                value="{{bar['bar_zip_code']}}"
            % end
            min="1000"
            max="9990"
            step="1"
            placeholder=" "
            required
        >
        <span class="hint">Enter a valid Danish postalcode.</span>
    </div>
    <div class="input-container">
        <label for="bar-city">City</label>
        <input 
            type="text" 
            name="bar_city"
            id="bar-city"
            % if defined("bar"):
                value="{{bar['bar_city']}}"
            % end
            minlength="2" 
            maxlength="50"
            placeholder=" "
            required 
        >
        <span class="hint">Enter a Danish city.</span>
    </div>
    <div class="form-action-bar">
        % if defined("bar"):
            <input type="text" name="bar_id" value="{{bar['bar_id']}}" hidden>
            <div class="btn-container">
                <button class="btn-primary" onclick="validateForm( updateBar )">Udpate bar</button>
                <button class="btn-secondary" onclick="toggleActionBarSubMenu()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="action-bar-sub-menu hidden">
                    <button class="px-4 text-sm transition-colors text-secondary hover:text-primary" onclick="toggleDeleteModal()">
                        <i class="fa-solid fa-trash-can mr-2"></i>
                        Delete bar
                    </button>
                    <div class="caret"></div>
                </div>
            </div>
        % else:
            <button class="btn-primary" onclick="validateForm(postItem)" data-path="bars">Create bar</button>
        % end
    </div>
</form>
