% desc_dk = ""
% desc_en = ""
<form id="beer_form" onsubmit="return false" novalidate="true" class="form-grid" autocomplete="off">
    <div class="input-container-full">
        <label for="beer_name">Name <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            class=""
            type="text" 
            id="beer_name" 
            name="beer_name" 
            % if defined('beer'):
                value="{{ beer['beer_name'] }}" 
            % end
            minlength="2" 
            maxlength="100"
            placeholder=" "
            required 
        />
        <span class="hint">Min. 2 and max. 100 characters.</span>
    </div>
    <div class="input-container">
        <label for="brewery_name">Brewery <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            oninput="searchBrewery()" 
            type="text" 
            id="brewery_name" 
            name="brewery_name"
            % if defined('beer'):
                value="{{ beer['brewery_name'] }}" 
            % end
            minlength="2" 
            maxlength="100" 
            placeholder=" "
            required 
        />
        <span class="hint">Min. 2 and max. 100 characters.</span>
        <input 
            type="hidden" 
            id="brewery_id" 
            name="brewery_id" 
            % if defined('beer'):
                value="{{ beer['fk_brewery_id']}}" 
            % end
            pattern="[1-9][0-9]*" 
            placeholder=" "
            required 
        />
        <div id="brewery_search" class="search-list hidden"></div>
    </div>
    <div class="input-container">
        <label for="beer_style_name">Style <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            oninput="searchBeerStyle()" 
            type="text" id="beer_style_name" 
            name="beer_style_name"
            % if defined('beer'):
                value="{{ beer['beer_style_name'] }}" 
            % end
            minlength="2" 
            maxlength="100" 
            placeholder=" "
            required 
        />
        <span class="hint">Min. 2 and max. 100 characters.</span>
        <input 
            type="hidden" 
            id="beer_style_id" 
            name="beer_style_id"
            % if defined('beer'):
                value="{{ beer['fk_beer_style_id'] }}" 
            % end
            pattern="[1-9][0-9]*" 
            placeholder=" "
            required 
        />
        <div id="beer_styles_search" class="search-list hidden"></div>
    </div>
    <div class="input-container">
        <label for="beer_alc">Alc. <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="number" 
            id="beer_alc" 
            name="beer_alc" 
            % if defined('beer'):
                value="{{ beer['beer_alc'] }}" 
            % end
            min="0" 
            max="100" 
            step=".1" 
            placeholder=" "
            required 
        />
        <span class="hint">Min. 0 and max. 100.</span>
    </div>
    <div class="input-container">
        <label for="beer_price">Price <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="number" 
            id="beer_price" 
            name="beer_price" 
            % if defined('beer'):
                value="{{ beer['beer_price'] }}" 
            % end
            min="0" 
            step=".01" 
            placeholder=" "
            required 
        />
        <span class="hint">Enter a value of min. 0.</span>
    </div>
    <div class="input-container">
        <label for="beer_ibu">IBU</label>
        <span class="hint-error block hidden"></span>
        <input 
            type="number" 
            id="beer_ibu" 
            name="beer_ibu" 
            % if defined('beer'):
                value="{{ beer['beer_ibu'] or '' }}" 
            % end
            min="1" 
            max="600"
            step="1" 
            placeholder=" "
        />
        <span class="hint">Min. 1 and max. 600.</span>
    </div>
    <div class="input-container">
        <label for="beer_ebc">EBC</label>
        <span class="hint-error block hidden"></span>
        <input 
            type="number" 
            id="beer_ebc" 
            name="beer_ebc"
            % if defined('beer'): 
                value="{{ beer['beer_ebc'] or '' }}" 
            % end
            min="1" 
            max="600"
            step="1" 
            placeholder=" "
        />
        <span class="hint">Min. 1 and max. 600.</span>
    </div>
    <div class="input-container-full">
        <label for="beer_description_en">Description (English)</label>
        <span class="hint-error block hidden"></span>
        % if defined('beer'):
        % desc_en = beer['beer_description_en'] or ""
        % end
        <textarea id="beer_description_en" name="beer_description_en" minlength="0" maxlength="500" placeholder=" ">{{ desc_en }}</textarea>
        <span class="hint">Min. 2 and max. 500 characters.</span>
    </div>
    <div class="input-container-full">
        % if defined('beer'):
        % desc_dk = beer['beer_description_dk'] or ""
        % end
        <label for="beer_description_dk">Description (Danish)</label>
        <span class="hint-error block hidden"></span>
        <textarea id="beer_description_dk" name="beer_description_dk" minlength="0" maxlength="500" placeholder=" ">{{ desc_dk }}</textarea>
        <span class="hint">Min. 2 and max. 500 characters.</span>
    </div>
    <div class="input-container-full">
        <label for="beer_image" class="cursor-pointer inline-flex items-center text-secondary hover:text-primary transition-colors">
            <span><i class="fa-solid fa-image mr-2 text-lg text-primary"></i></span>Upload image
        </label>
        <span class="hint-error block hidden"></span>
        <span class="hint block">Only .png and .jpeg allowed.</span>
        <input onchange="displayPreviewImage()" type="file" id="beer_image" name="beer_image" accept="image/png, image/jpg, image/jpeg" />
        % if defined('beer'):
            <input
                type="hidden" 
                id="beer_image_name" 
                name="beer_image_name" 
                data-input-id="#beer_image"
                value="{{ beer['beer_image'] or '' }}" 
            />
        % end
    </div>
    <div 
        % if defined('beer') and beer['beer_image']:
            class="image-preview"
        % else:
            class="image-preview hidden"
        % end
    >
        % if defined('beer') and beer['beer_image']:
            <img class="rounded" src="/static/images/{{ beer['beer_image'] }}" alt="{{ beer['beer_name'] }}" />
        % else:
            <img class="rounded" src="" />
        % end
        <i onclick="removePreviewImage()" data-input-id="#beer_image" class="fa-solid fa-circle-xmark text-secondary hover:text-primary transition-colors cursor-pointer text-xl absolute top-0 right-0 mr-1"></i>
    </div>
    <div class="form-action-bar">
        % if defined('beer') and not beer['beer_on_tap'] and not session['role_id'] == 3:
            <input 
                type="hidden" 
                value="{{ beer['beer_id'] }}"
                name="beer_id" 
                pattern="[1-9][0-9]*" 
                required 
            />
            <div class="btn-container">
                <button class="btn-primary" onclick="validateForm(updateItem)" data-path="beers">Update beer</button>
                <button class="btn-secondary" onclick="toggleActionBarSubMenu()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="action-bar-sub-menu hidden">
                    <button class="px-4 text-sm transition-colors text-secondary hover:text-primary" onclick="toggleDeleteModal()">
                        <i class="fa-solid fa-trash-can mr-2"></i>
                        Delete beer
                    </button>
                    <div class="caret"></div>
                </div>
            </div>
        % elif defined('beer'):
            <input 
                type="hidden" 
                value="{{ beer['beer_id'] }}"
                name="beer_id" 
                pattern="[1-9][0-9]*" 
                required 
            />
            <button class="btn-primary" onclick="validateForm(updateItem)" data-path="beers">Update beer</button>
        % else:
            <button class="btn-primary" onclick="validateForm(postItem)" data-path="beers">Create beer</button>
        % end
    </div>
</form>