% if defined('brewery') and brewery['brewery_name'] == brewery['brewery_menu_name']:
    % brewery['brewery_menu_name'] = ""
% end

<form onsubmit="return false" novalidate="true" class="form-grid" autocomplete="off">
    <div class="input-container-full">
        <label for="brewery_name">Name <span class="text-danger">*</span></label>
        <span class="hint-error block hidden"></span>
        <input 
            type="text" 
            name="brewery_name" 
            id="brewery_name" 
            required
            placeholder=" "
            minlength="2"
            maxlength="100"
            % if defined('brewery'):
                value="{{brewery['brewery_name']}}"
            % end
        >
        <span class="hint">Min. 2 and max. 100 characters.</span>
    </div>
    <div class="input-container-full">
        <label for="brewery_menu_name">Menu name</label>
        <span class="hint-error block hidden"></span>
        <input 
            type="text" 
            name="brewery_menu_name" 
            id="brewery_menu_name" 
            placeholder=" "
            minlength="2"
            maxlength="50"
            % if defined('brewery'):
                value="{{brewery['brewery_menu_name']}}"
            % end
        >
        <span class="hint">Min. 2 and max. 50 characters.</span>
    </div>
    <div class="form-action-bar">
        % if defined('brewery') and not brewery['brewery_on_tap'] and not session['role_id'] == 3:
            <input 
                type="hidden" 
                value="{{ brewery['brewery_id'] }}"
                name="brewery_id" 
                pattern="[1-9][0-9]*" 
                required 
            />
            <div class="btn-container">
                <button class="btn-primary" onclick="validateForm(updateItem)" data-path="breweries">Update brewery</button>
                <button class="btn-secondary" onclick="toggleActionBarSubMenu()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="action-bar-sub-menu hidden">
                    <button class="px-4 text-sm transition-colors text-secondary hover:text-primary" onclick="toggleDeleteModal()">
                        <i class="fa-solid fa-trash-can mr-2"></i>
                        Delete brewery
                    </button>
                    <div class="caret"></div>
                </div>
            </div>
        % elif defined('brewery'):
            <input 
                type="hidden" 
                value="{{ brewery['brewery_id'] }}"
                name="brewery_id" 
                pattern="[1-9][0-9]*" 
                required 
            /> 
            <button class="btn-primary" onclick="validateForm(updateItem)" data-path="breweries">Update brewery</button>
        % else:
            <button class="btn-primary" onclick="validateForm(postItem)" data-path="breweries">Create brewery</button>
        % end
    </div>
</form>