<aside>
    <ul>
        <li>
            <a href="/users">
                <span></span>
                <span>Users</span>   
            </a>
        </li>
        <li>
            <a href="/bars">
                <span></span>
                <span>Bars</span>   
            </a>
        </li>
    </ul>
    <span></span>
    <ul>
        <li>
            <a href="/beers">
                <span></span>
                <span>Beers</span>   
            </a>
        </li>
        <li>
            <a href="/breweries">
                <span></span>
                <span>Breweries</span>   
            </a>
        </li>
        <li>
            <a href="/taps">
                <span></span>
                <span>Taps</span>   
            </a>
        </li>
        <li>
            <a href="/beer-styles">
                <span></span>
                <span>Beer Styles</span>   
            </a>
        </li>
    </ul>
    <span></span>
    <ul>
        <li>
            <a href="/pizzas">
                <span></span>
                <span>Pizzas</span>   
            </a>
        </li>
        <li>
            <a href="/ingredients">
                <span></span>
                <span>Ingredients</span>   
            </a>
        </li>
    </ul>
</aside>