<table>
    <thead>
        <tr>
            <th>TAP</th>
            <th>BEER</th>
            <th>IBU</th>
            <th>EBC</th>
            <th>VOL.</th>
            <th>DKK</th>
        </tr>
    </thead>
    <tbody>
        % off_the_walls = []
        % for tap in taps:
            % if tap["tap_number"]:
                <tr>
                    <td>{{tap["tap_number"]}}</td>
                    <td>
                        <div>{{tap["beer_name"]}}</div>
                        <div>{{tap["beer_style_name"]}}</div>
                        <div>{{tap["brewery_name"]}}</div>
                    </td>
                    <td>{{tap["beer_ebc"]}}</td>
                    <td>{{tap["beer_ibu"]}}</td>
                    <td>{{tap["beer_alc"]}}</td>
                    <td>{{int(tap["beer_price"])}}</td>
                </tr>

            % else:
                % off_the_walls.append(tap)
            % end
        % end
    </tbody>
</table>

% if off_the_walls:
    <section>
        <h2>OFF THE WALL</h2>
        <div>
        % for tap in off_the_walls:
            <div>
                <p>{{tap["beer_name"]}}</p>
                <p>{{tap["beer_alc"]}}</p>
                <p>{{int(tap["beer_price"])}}</p>
            </div>
        % end
        </div>
    </section>
% end