<aside>
    <ul>
        % menu_item_href = "/users"
        % menu_item_text = "Users"
        % include("components/menu_item")

        % menu_item_href = "/bars"
        % menu_item_text = "Bars"
        % include("components/menu_item")
    </ul>
    <span></span>
    <ul>
        % menu_item_href = "/beers"
        % menu_item_text = "Beers"
        % include("components/menu_item")

        % menu_item_href = "/breweries"
        % menu_item_text = "Breweries"
        % include("components/menu_item")

        % menu_item_href = "/taps"
        % menu_item_text = "Taps"
        % include("components/menu_item")

        % menu_item_href = "/beer-styles"
        % menu_item_text = "Beer styles"
        % include("components/menu_item")
    </ul>
    <span></span>
    <ul>
        % menu_item_href = "/pizzas"
        % menu_item_text = "Pizzas"
        % include("components/menu_item")

        % menu_item_href = "/ingredients"
        % menu_item_text = "Ingredients"
        % include("components/menu_item")
    </ul>
</aside>