<aside>
    <ul>
        % include("components/side_menu_item", href="/users", text="Users", icon="fa-solid fa-users")
        % include("components/side_menu_item", href="/bars", text="Bars", icon="fa-solid fa-location-dot")
    </ul>
    <span></span>
    <ul>
        % include("components/side_menu_item", href="/beers", text="Beers", icon="fa-solid fa-beer-mug-empty")
        % include("components/side_menu_item", href="/breweries", text="Breweries", icon="fa-solid fa-city")
        % include("components/side_menu_item", href="/taps", text="Taps", icon="fa-solid fa-faucet")
        % include("components/side_menu_item", href="/beer-styles", text="Beer styles", icon="fa-solid fa-wheat-awn")
    </ul>
    <span></span>
    <ul>
        % include("components/side_menu_item", href="pizzas", text="Pizzas", icon="fa-solid fa-pizza-slice")
        % include("components/side_menu_item", href="/ingredients", text="Ingredients", icon="fa-solid fa-pepper-hot")
    </ul>
</aside>