<nav class="col-span-12 h-[50px] flex justify-between items-center py-4 bg-background  border border-line border-t-0 border-x-0 fixed w-full z-50">
    <div class="relative w-1/4 xl:w-1/6 ">
        <a onclick="toggleTopSubMenu()" data-target="#location_sub_menu" class="py-3 px-4 flex flex-nowrap items-center transition-colors text-secondary cursor-pointer hover:text-primary">
            <span class="pointer-events-none">{{ session["bar_name"] }}</span>
            <div class="pointer-event-none w-6 h-6 inline-flex items-center justify-center pt-1">
                <i class="fa-solid fa-caret-down text-xs transition-transform"></i>
            </div>
        </a>
        <ul id="location_sub_menu" class="absolute w-full bg-background top-sub-menu border-l-0">
            % for bar in session["bar_access"]:
                % if not session["bar_id"] == bar["bar_id"]:
                    <li class="h-[40px] flex items-center">
                        <a class="px-4 py-2 text-sm transition-colors text-secondary cursor-pointer hover:text-primary">
                            {{ bar["bar_name"] }}
                        </a>
                    </li>
                % end
            % end
        </ul>
    </div>
    <div class="relative">
        <a onclick="toggleTopSubMenu()" data-target="#user_sub_menu" class="py-3 px-4 flex flex-nowrap items-center transition-colors text-secondary cursor-pointer hover:text-primary">
            <div class="pointer-events-none w-6 h-6 inline-flex items-center justify-center mr-3">
                <i class="fa-solid fa-circle-user text-2xl"></i>
            </div>
            <span class="pointer-events-none">{{ session["user_name"] }}</span>
            <div class="pointer-events-none w-6 h-6 inline-flex items-center justify-center pt-1">
                <i class="fa-solid fa-caret-down text-xs transition-transform"></i>
            </div>
        </a>
        <ul id="user_sub_menu" class="absolute w-full bg-background top-sub-menu border-r-0">
            <li>
                <a class="px-4 py-2 flex flex-nowrap items-center transition-colors text-secondary cursor-pointer hover:text-primary" href="/sign-out">
                    <div class="w-6 h-6 inline-flex items-center justify-center mr-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <span class="text-sm">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</nav>