% setdefault('current_topic', None)

% for user in users:

    % if user["user_role_id"] == 1:
        % user["bar_id"] = 0
        % user["bar_name"] = "Super users"
    % end

    % if not user["bar_id"] == current_topic:
        % current_topic = user["bar_id"]
        <li class="list-topic">
            <h2 class="text-2xl font-medium">{{user["bar_name"]}}</h2>
            % if user["user_role_id"] != 1:
                <p class="text-base font-normal text-secondary">{{user["bar_street"]}}, {{user["bar_city"]}}</p>
            % end
        </li>
    % end

    <li class="col-span-1 hover:underline" data-topic="{{current_topic}}">
        % include("components/user")
    </li>
% end