% setdefault('render_navigation', True)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4612253046.js" crossorigin="anonymous" defer></script>
    <title>{{page_title or 'Anarkist'}}</title>
</head>
<body>
    % if render_navigation:
        % include("components/side_menu")
    % end
    <main>
        {{!base}}
    </main>
</body>
</html>