% from bottle import request
% is_xhr = True if request.headers.get("spa") else False
% if not is_xhr:

% setdefault('page_title', 'Anarkist')
% setdefault('render_navigation', True)
% setdefault('render_sub_menu', False)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4612253046.js" crossorigin="anonymous" defer></script>
    <script src="/static/js/main.js" defer></script>
    <title>{{page_title}}</title>
</head>
<body>
    % if render_navigation:
        % include("components/top_menu")
        % include("components/side_menu")
    % end
    <main>
% end
        % if render_sub_menu:
        % include("components/sub_menu")
        % end
        {{!base}}

% if not is_xhr:
    </main>
</body>
</html>
%end