% rebase("base", page_title="Create Brewery")

<div id="spa" data-page_title="Create Brewery" data-page_url="/breweries/create">
    <header>
        <h2>New brewery</h2>
    </header>

    <section>
        <form>
            <div>
                <label for="brewery_name">Name</label>
                <input type="text" name="brewery_name" id="brewery_name" required>
            </div>
            <div>
                <label for="brewery_menu_name">Menu name</label>
                <input type="text" name="brewery_menu_name" id="brewery_menu_name">
            </div>
            <button onclick="validateForm( postBrewery )">Create brewery</button>
        </form>
    </section>
</div>
