% rebase("base", page_title="Breweries")

<div id="spa" data-page_title="Breweries" data-page_url="/breweries">
    <header>
        <h2>Breweries</h2>
        <a href="/breweries/create" onclick="spa('/breweries/create'); return false;">New brewery</a>
    </header>

    <section>
        % first_char = None
        % init_loop = True

        % for brewery in breweries:
            % if brewery["brewery_name"][0] != first_char:

                % if not init_loop:
                    </ul>
                % end
                % init_loop = False
                <h2>{{brewery["brewery_name"][0]}}</h2>
                <ul>
            % end

            <li>
                % include("components/brewery")
            </li>
        % end
        </ul>
    </section>
</div>
