<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <section>
        <header>
            <h1>LOGO</h1>
        </header>
        <main>
        % include("components/menu_content")
        </main>
    </section>
    
    <script>

        setInterval(getTaps, 30000)
    
        async function getTaps() {
            const conn = await fetch(location.pathname, {
                headers: {as_chunk: true}
            })

            if (!conn.ok) return

            const html = await conn.text()

            const container = document.querySelector("main")
            container.innerHTML = html
        }
    
    </script>
    
</body>
</html>



