<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/app.css" />
    <title>Menu</title>
</head>
<body class="bg-[rgb(0,0,0)] text-primary font-pixel">
    <div class="h-[177.7vw] overflow-hidden pt-[3vw] px-[3vw] pb-[2vw]">
        <header class="h-[17.5vw] flex border-[1.3vw] border-[rgba(220,38,37,1)]">
            <div class="w-[64vw] flex items-center justify-center relative">
                <img class="absolute -top-[1vw] h-[17vw]" src="/static/images/pixel_logo.svg" alt="Logo">
            </div>
            <div class="bg-[rgba(220,38,37,1)] flex-1 flex items-center justify-center">
                <img class="w-[20vw]" src="/static/images/BAR.svg" alt="Bar">
            </div>
        </header>
        <main class="mt-[1.85vw]">
            % include("components/menu_content")
        </main>
    </div>  

    <script>
        // setInterval(getTaps, 3000)
        async function getTaps() {
            const conn = await fetch(location.pathname, {
                headers: {as_chunk: true}
            })
            if (!conn.ok) return
            const html = await conn.text()
            const container = document.querySelector("main")
            container.innerHTML = html
        }
    </script>
</body>
</html>



