% import utils.g as g
% page_title = user["user_name"] if user else "User not found"
% rebase("base", page_title=page_title)

<div id="spa" data-page_title={{page_title}} data-page_url="/users/{{search_user_id}}">
    <header>
        % if user:
            <h2>{{user["user_name"]}}</h2>
        % else:
            <h2>User not found</h2>
        % end
    </header>

    % if user:
    <form >
        <h2>User info</h2>
        <input type="text" hidden name="user_id" value="{{user['user_id']}}">
        <label for="name">Name</label>
        <input type="text" name="user_name" id="name" value="{{user['user_name']}}">
        <label for="email">Email</label>
        <input type="text" name="user_email" id="email" value="{{user['user_email']}}">

        % if session["role_id"] == 1:
            <label for="user-role"></label>
            <select name="user_role_id" id="user-role">
                <option 
                    value="3"
                    % if user['user_role_id'] == 3: 
                    selected 
                    % end
                    >Bar staff
                </option>
                <option 
                    value="2"
                    % if user['user_role_id'] == 2: 
                    selected 
                    % end
                    >Bar admin
                </option>
                <option 
                    value="1"
                    % if user['user_role_id'] == 1: 
                    selected 
                    % end
                    >Super user
                </option>
            </select>

        % elif session["role_id"] == 2:
            <label for="user-role"></label>
            <select name="user_role_id" id="user-role">
                <option 
                    value="3"
                    % if user['user_role_id'] == 3:
                    selected 
                    % end
                    >Bar staff
                </option>
                <option 
                    value="2"
                    % if user['user_role_id'] == 2:
                    selected 
                    % end
                    >Bar admin
                </option>
            </select>
        % end 

        <button onclick="validateForm( updateUserInfo )">Save changes</button>
    </form>

    % if session["user_id"] == search_user_id:
    <form >
        <h2>Reset password</h2>
        <input type="text" hidden name="user_id" value="{{user['user_id']}}">

        <label for="user_password">Old password</label>
        <input type="password" id="user_password" name="user_password">

        <label for="user_new_password">New password</label>
        <input type="password" id="user_new_password" name="user_new_password">

        <label for="user_confirm_new_password">Repeat password</label>
        <input type="password" id="user_confirm_new_password" name="user_confirm_new_password">

        <button onclick="validateForm( updateUserPassword )">Reset password</button>
    </form>
    % end

    % if user["bar_access"] and session["user_id"] != search_user_id:
        <div>
            <h2>Bar access</h2>
            % this_bar_access = False
            % for bar in user["bar_access"]:
                % if bar["bar_id"] == session["bar_id"]:
                    % this_bar_access = True
                    <form>
                        <input type="text" hidden name="user_id" value="{{user['user_id']}}">
                        <button onclick="deleteBarAccess()">Remove acces</button>
                    </form>
                % end
                <p>{{bar["bar_name"]}}</p>
                <p>{{bar["bar_street"]}}, {{bar["bar_city"]}}</p>
            % end
            % if len(user["bar_access"]) > 1:
                % if not this_bar_access:
                    <form>
                        <input type="text" hidden name="user_id" value="{{user['user_id']}}">
                        <span><button onclick="postBarAccess()">Give acces</button> to {{session["bar_name"]}}</span>
                    </form>
                % end
            % end
        </div>
    % end

    % if user["user_role_id"] == session["role_id"] or session["role_id"] != 3:
        <form>
            <input type="text" hidden name="user_id" value="{{user['user_id']}}">
            <label for="confirm_deletion">Type 'DELETE'</label>
            <input type="text" name="confirm_deletion" id="confirm_deletion">
            <button onclick="validateForm( deleteUser )">Delete user</button>
        </form>
    % end
</div>
