% rebase("base", page_title="Users")

<div id="spa" data-page_title="Users" data-page_url="/users">
    <header>
        <h2>Users</h2>
    </header>
    % current_bar_id = None
    % close_ul = True
    % for user in users:
        % if not user["bar_id"] == current_bar_id:
            % current_bar_id = user["bar_id"]
            % close_ul = True
            <h2>{{user["bar_name"]}}</h2>
            <p>{{user["bar_street"]}}, {{user["bar_city"]}}</p>
            <ul>
        % end

        <li>
            % include("components/user")
        </li>

        % if close_ul:
            </ul>
            % close_ul = False
        % end
    % end
    </ul>
</div>
