@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.top-sub-menu {
    @apply max-h-0 overflow-hidden;
    transition: max-height .2s ease-in-out;
}

.top-sub-menu.active {
    @apply max-h-[40px];
}

#side_menu {
    height: calc(100vh - 50px);
}

.side-menu-link.active, 
.side-menu-link.active:hover {
    @apply bg-highlight-bg;
}

.rotate {
    transform: rotate(180deg);
    transform-origin: center; 
}

.content-grid {
    @apply grid gap-4 md:gap-6 xl:gap-8 md:grid-cols-2 xl:grid-cols-3
}

.content-container {
    @apply p-3 md:p-6 xl:p-12
}

.list-topic {
    @apply text-3xl border-b border-outline mb-4 pb-1 font-medium
}

.list-topic:not(:first-child) {
    @apply mt-14
}

.list-topic + ul {
    @apply content-grid
}