% rebase("base", page_title="Users")

<div id="spa" data-page_title="Users" data-page_url="/users">
    <header>
        <h2>Users</h2>
        <a href="/users/create" onclick="spa('/users/create'); return false;">New user</a>
    </header>
    
    <section class="content-container">
        % current_bar_id = None
        % init_loop = True

        % for user in users:
            % if not user["bar_id"] == current_bar_id:

                % current_bar_id = user["bar_id"]
                % if not init_loop:
                    </ul>
                % end
                % init_loop = False
                <div class="list-topic">
                    <h2>{{user["bar_name"]}}</h2>
                    <p class="text-lg font-normal">{{user["bar_street"]}}, {{user["bar_city"]}}</p>
                </div>
                <ul>
            % end

            <li>
                % include("components/user")
            </li>
        % end
        </ul>
    </section>
</div>
