% rebase("base", page_title="Breweries")

<div id="spa" data-page_title="Breweries" data-page_url="/breweries">
    <header class="sub-menu">
        <h1>Breweries</h1>
        % include("components/href_plus", href="/breweries/create")
    </header>

    <section class="content-container">
        % first_char = None
        % init_loop = True

        % for brewery in breweries:
            % if brewery["brewery_name"][0].capitalize() != first_char:

                % first_char = brewery["brewery_name"][0].capitalize()
                % if not init_loop:
                    </ul>
                % end
                % init_loop = False
                <h2 class="list-topic">{{brewery["brewery_name"][0].capitalize()}}</h2>
                <ul class="content-list">
            % end

            <li>
                % include("components/brewery")
            </li>
        % end
        </ul>
    </section>
</div>
