% rebase("base", page_title="Beers") 

<div
    id="spa"
    data-page_title="Beers"
    data-page_url="/beers"
    >

    <header class="sub-menu">
        <h1>Beers</h1>
        <div class="flex gap-8 items-center">
            <form class="flex items-center">
                <input oninput="searchContentList()" type="text" name="search_param" class="sub-menu-search mr-2">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
            % include("components/href_plus", href="/beers/create")
        </div>
    </header>

    <section class="content-grid content-search-container !hidden">
    </section>

    <section class="content-grid content-container">
        % include("components/beer_list")
        % include("components/loader")
    </section>
</div>